<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-remote-injection" version="0.5.2">
  <name>Remote Injection</name>
  <description>Injects Cordova into a remote site.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,remote,injection</keywords>
  <author>Brad Reynolds</author>
  <platform name="ios">
    <framework src="WebKit.framework" weak="true" />
    <config-file target="config.xml" parent="/*">
      <feature name="RemoteInjection">
          <param name="ios-package" value="CDVRemoteInjectionPlugin" />
          <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/CDVRemoteInjection.h" />
    <source-file src="src/ios/CDVRemoteInjection.m" />
    <header-file src="src/ios/CDVRemoteInjectionWebViewBaseDelegate.h" />
    <source-file src="src/ios/CDVRemoteInjectionWebViewBaseDelegate.m" />
    <header-file src="src/ios/CDVRemoteInjectionUIWebViewDelegate.h" />
    <source-file src="src/ios/CDVRemoteInjectionUIWebViewDelegate.m" />
    <header-file src="src/ios/CDVRemoteInjectionWKWebViewDelegate.h" />
    <source-file src="src/ios/CDVRemoteInjectionWKWebViewDelegate.m" />
  </platform>
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="RemoteInjection">
        <param name="android-package" value="com.truckmovers.cordova.RemoteInjectionPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/RemoteInjectionPlugin.java" target-dir="src/com/truckmovers/cordova" />
  </platform>
</plugin>
